body {
    font-family: 'Lato', sans-serif; 
    margin: 0px 100px;
    font-size: 1.3em;
}

.name {
    font-size: 1,5em;
}

ul {
  padding: 0px;  
}

.code-example {
    border: 1px solid rgb(165, 165, 165);
    width: 80%;
    padding: 15px 20px;
}