body {
    font-family: 'Open Sans', sans-serif; 
    margin: 0px 50px;
}

.container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.name-block {
    /* height: 350px; */
    background-color: rgb(183, 179, 179);

}

h1 {
    margin: 0px;
}

.main-info {
    width: 35%;
    font-size: 1.3em;
    background-color: #fb3f5b85;
    padding: 20px;
    box-sizing: border-box;
    color: #fcfcfc;
}

.my-photo {
    width: 80%;
    border-radius: 40px;
    border: 5px solid #fcfcfc;

}

.info {
    width: 64%;
    padding: 10px;
    box-sizing: border-box;
}

h3 {
    text-transform: uppercase;
    text-decoration: underline;
}


/* .header {
    display: flex;
    margin-top: 30px;
}

.myPhoto {
    width: 34%;
    border-radius: 10%;
    padding: 20px;
    box-sizing: border-box;
}

.nameBlock {
    width: 66%;
    vertical-align: auto;
    margin: 50px 20px;
} */

.name {
    font-size: 3em;
    color: #FB3F5C;

}

ul {
  padding: 0px;  
}

.code-example {
    border: 1px solid rgb(165, 165, 165);
    width: 80%;
    padding: 15px 20px;
}

